name: Build Blog

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Run Go code
        run: go run main.go

      - name: List directories before upload
        run: ls -R output

      - name: Upload generated directories
        uses: actions/upload-artifact@v4
        with:
          name: generated-files
          path: output
