name: Build and Deploy Blog

on:
  push:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.0

      - name: Install dependencies
        run: go mod tidy 

      - name: Run script to generate static files
        run: go run cmd/blog/main.go 

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAGES }}
          publish_dir: ./public 
          publish_branch: gh-pages
          cname: blog.breno5g.dev
          enable_jekyll: true

